@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


body{

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none ;
    
}


.sidebar{
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    background: #e7d3ad;
}

.overlay{


    position: relative;
    left: 500px;
    top: -500px;
    width: 550px;
    height: 100%;
   
}

.tabledesign{

    position: relative;
    left: 275px;
    top: 100px;
    width: 100px;
    box-sizing: border-box;

}

.header{
    
    position: relative;
    left: 280px;
    top: -500px;
   
   
    background: #white;
}
    

.sidebar header{
    font-size: 32px;
    color: rgb(10, 10, 10);
    text-align: center;
    line-height: 90px;
    background: #eb9813;
    
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(2, 0, 0);
    padding-left: 40px;
   
    border-top: 1px solid;
    border-bottom: 1px solid;
    transition: 3s;
}



